body {
    background-color: #777;
    width: 960px;
    padding: 15px;
    margin: 25px;
    font-size: 18px;
}
h1 {
    color: #777;
    background-color: #ebebeb;
    padding: 42px;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
}



.div1 {
    background-color: #ebebeb;
    color: #777;
    padding: 15px;
    text-align: center;
}


.section {
    background-color: #fff;
    width: 490px;
    float: left;
   margin-bottom: 20px;
    margin-top: 20px;
    font-style: Arial;
    font-size: 18px;
    color: #777;
    padding: 10px;
    text-align: center
  }

article {
    background-color: #777;
    margin-top: 20px;
    font-style: Arial;
    font-size: 18px;
    color: #ebebed;
    height: 230px;
    padding: 10px;
   }

h2 {
    background-color: #ebebed;
    color: #777;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
    padding: 10px;
}

p {
    background-color: #ebebed;
    color: #777;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    
  
    padding: 10px;
   

}


.aside {
    background-color: #ebebed;
    width: 420px;
    height: 290px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #777;
    padding: 10px;
    text-align: center
  }
.div2 {
    background-color: #ebebed;
    padding: 15px;
    bottom: 0;
    clear: both;
    font-style: Arial;
    font-size: 18px;
    color: #777;
    text-align: center
    margin-top: 20px;
}