body {
    background-color: #777;
    width: 960px;
    padding: 15px;
    margin: 25px;
    font-size: 18px;
}
h1 {
    color: #777;
    background-color: #ebebeb;
    padding: 15px;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
}

p { 
    
    text-align: center;
   
}
.div1 {
    background-color: #ebebeb;
   
    padding: 15px;
  
    text-align: center;
}


.section {
    background-color: #fff;
    width: 415px;
    float: left;
    height: 300px;
    margin: 20px;
    font-style: Arial;
    font-size: 18px;
    color: #777;
  }

.article {
    background-color: #777;
    height: 200px;
    margin: 20px;
    font-style: Arial;
    font-size: 18px;
    color: #ebebed;
   }

   .h2 {
    background-color: #ebebed;
    height: 40px;
    margin: 20px;

}

.aside {
    background-color: #ebebed;
    width: 420px;
    height: 300px;
    float: right;
    margin: 20px;
    color: #777;
    
  
}
.div2 {
    background-color: #ebebed;
    padding: 15px;
    bottom: 0;
    clear: both;
    font-style: Arial;
    font-size: 18px;
    color: #777;
}