body {
    background-color: rgb(99, 142, 156);
   width: 960px;
    padding: 15px;
    margin: 25px;
}
h1 {
    color: rgb(97, 23, 23);
    background-color: rgb(41, 90, 138);
    /* width: 80%; */
    padding: 15px;
    /* margin: 25px; */
    text-align: center;
}

p {
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(97, 23, 23);
}
.div1 {
    background-color: rgb(41, 90, 138);
    /* width: 80%; */
    padding: 15px;
    /* margin: 25px; */
    text-align: center;
}


.section {
    background-color: #fff;
    width: 395px;
    float: left;
    height: 300px;
    margin: 20px;
      
}

.aside {
    background-color: pink;
    width: 430px;
    height: 300px;
    float: right;
    margin: 20px;
  
}
.div2 {
    background-color: rgb(41, 90, 138);
    /* width: 80%; */
    padding: 15px;
    /* position: absolute; */
    bottom: 0;
    clear: both;
}